@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif; /* 1*/
  line-height: 1.15; /*  2   */
  -ms-text-size-adjust: 100%;  /*      3    */
  -webkit-text-size-adjust: 100%;    /*   3   */
}
a {
  text-decoration: none;
}
ul,
ol {
   list-style: none;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
}
img {
  overflow-x: hidden;
}
.btn {
  border: 1px solid #0082e6;
  max-width: 100%;
  width: 250px;
  height: 60px;
  border-radius: 100px;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: inset 3px 3px black, 0px 8px 4px -2px rgba(0, 0, 0, 0.24);
  box-shadow: inset 3px -3px 3px black, 0px 8px 4px -2px rgba(0,0,0,0.24);
}
.btn .btn-a {
  font-size: 1.5em;
  text-transform: uppercase;
  color: whitesmoke;
  letter-spacing: 1px;
  text-decoration: none;
}
.btn-primary {
  background: #0082e6;
}
.btn-primary:hover {
  background: #0041e6;
  transition: background 0.3s ease-in-out;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
/*  END OF THE PRIMAARY STYLES  */
 body {
   text-align: center;
 }
 header  {
    width: 100%;
    position: relative;
    height: auto;
    margin: 0;
    padding: 0;
 }
 .navbar {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #191919;
  padding: 0;
  margin: 0;
   display: flex; 
  align-items: center;
   justify-content: space-between;
 }
#check {
  display: none;
}
.navbar .logo {
  border: none;
  width: 250px;
  height: 100px;
  margin-left: 50px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.menu {
  margin-right: 50px;
}
.menu li {
  display: inline-block;  
  margin: 0px 20px;
}
.menu li a {
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
   color: antiquewhite;
   cursor: pointer;
   text-transform: uppercase;
   text-align: center;
   transition: color .3s linear;
}
a.active, .menu li a:hover {
  border-bottom: 3px solid orangered;
  padding-bottom: 3px;
}
.menu li:nth-of-type(6) {
    padding: 5px 10px;
    background: #95ee95;
    border-radius: 3px;
}
.checkbtn {
  font-size: 2em;
  color: orange;
  cursor: pointer;
  display: none;
}

@media (max-width: 486px) {
   .checkbtn {
    display: block;
    font-size: 2em;
    color: #0082e6;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 10px;
   }
   .menu li {
    display: block;
    padding: 1.5em;
   }
   .menu {
    opacity: 0;
     width: 100%;
     background-color: #004040;
     min-height: 100vh;
     position: absolute;
     top: 100px;
     left: 0;
     z-index: 12;
     transition: all 0.4s ease-in-out;
   }
   #chech {
     opacity: 0;
   }
   .navbar input:checked ~ .menu {
     opacity: 1;
   }
}

                              /*---------------------------------/
                             /       HEADER END UP HERE         /
                            /---------------------------------*/
#hero {
  margin: 0px;
  height: 100vh;
  background: linear-gradient(
      rgba(240, 240, 240, 0.144),
      rgba(255, 255, 255, 0.336)
    ),
     url(../img/mobile-car-washo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}
.hero {
  position: relative;
  padding: 100px 0px 0px;
}
.hero h3 {
  color: #00004b;
  text-shadow: 0px 0px 2px coral;
}
.hero h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5em;
  color: #000099;
  margin-bottom: 50px;
  text-shadow: 3px 0px 0px white,  0px 3px 1px red;
  
  border-bottom: 10px solid crimson;
  padding-bottom: 10px;
}
.hero q {
  font-size: 2em;
   color: #ccffff;
   margin-bottom: 20px;
   text-shadow: 3px 2px 1px black;
}
.hero #btn-first {
  display: block;
  margin: 30px auto;
}

                           /*---------------------------------/
                          /      ALPHA   SECTION             /
                         /---------------------------------*/
#alpha {
  width: 100%;
   height: auto;
   padding: 0;
   background-color: #00004b;
   margin: 0;
}
.alpha {
  text-align: start;
  border: none;
  padding: 50px 0;
}
.alpha .alpha-h3 {
  color: #dcd5da;
  border: none;
  display: block;
  float: left;
  height: 250px;
  padding-right: 20px;
}
.alpha h2 {
  color: #ccffff;
  font-weight: 700;
  margin-bottom: 20px;
}
.alpha p {
  color: #eeeeee;
  line-height: 1.5;
}

/* GAMMA SECTION  */
#gamma {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.gamma__img,
.gamm__right {
  width: 50%;
}
.gamma {
  padding: 100px 0px;
  display: flex;
}/*
.gamma__img {
   height: 500px;
   display: block;
   margin-top: 20px;
   float: left;
   margin-right: 20px;
   border-radius: 7px;
}*/
.gamma__img img {
  display: block;
  height: 400px;
  max-width: 90%;
  margin: auto;
  object-fit: cover;
  border-radius: 7px;
  object-position: right;
  -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.24);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.24);
}
.gamma__right {
  width: 50%;
  text-align: start;
}
.gamma__right h2 {
  color: #00004b;
  text-transform: capitalize;
}
.gamma__right p {
  color:#2c3e50;
  margin-bottom: 20px;
}
.gamma__right p .right__anchor {
   font-style: italic;
   color: tomato;
}
.gamma__right p a {
   color: lawngreen;
}

#gamma-btn {
  width: 300px;
  margin: auto;
}


                 /*  ALPHA CONTENT DOWN   */

#delta {
  width: 100%;
  margin: 0;
  padding: 0px;
  height: auto;
  border: none;
  background-color: #f8f9f0;
}
.delta {
  text-align: start;
  padding: 100px 0px;
  display: flex;
}
.delta__left {
  width: 50%;
  padding: 0px;
}
.delta__left h2 {
  color: #00004b;
  text-transform: capitalize;
}
.delta__left p {
  color:#2c3e50;
}
#delta p span {
   font-style: italic;
   color: tomato;
}
.delta__img img {
  display: block;
  height: 400px;
  max-width: 90%;
  margin: auto;
  object-fit: cover;
  border-radius: 7px;
  object-position: right;
  -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.24);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.24);
}
#delta-btn {
  background: orange;
  max-width: 100%;
  width: 300px;
  margin: 2em auto;
}
#delta-btn:hover {
  background: orangered;
  transition: 400ms ease;
}

/*  ALPHAA CONTENTON  */
  .our__offers {
    width: 100%;
  height: 250px;
  background: #f0f1fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our__offers .offers__btn {
  border: none;
  outline: none;
  background: #dc143c;
  border-radius: 5px;
  padding: 20px 30px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  cursor: pointer;
}
.offers__btn a {
  font-size: 1.5em;
  color: #dcd5da;
  text-decoration: none;
  text-transform: uppercase;
}

/*  TRPLEX OFFERS   */
#omega {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0px;
}
.omega {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.offer {
  width: 31%;
  text-align: start;
  border: none;
  padding-bottom: 60px;
}
.offer h3 {
  color: #00004b;
  font-weight: 600;
  margin-bottom: 50px;
}
.offer p {
  line-height: 1.6;
  color: #2c3e50;
}

                                     /*------------------------/
                                    /      SECOND SECTION     /
                                   /------------------------*/
#second {
  height: auto;
  background-color: #000033;
  width: 100%;
  margin: 0px auto;
  padding: 100px 0px;
}
#second .hgroup__second {
  width: 90%;
  margin: 0px auto;
  padding-top: 0px;
  text-align: start;
  margin-bottom: 40px;
}
.hgroup__second h3 {
  color: #fff;
  float: left;
  height: 100%;
  padding-right: 20px;
}
.hgroup__second h2 {
  color: whitesmoke;
}
.hgroup__second h4 {
  color: cadetblue;
  line-height: 1.7;
}
#second .second_duplex {
  width: 100%;
  text-align: start;
  display: flex;
}
.duplex {
  color: #cdc5da;
  margin-right: 20px;
  text-align: justify;
}
.duplex .duplex_right {
  margin-left: 20px;
}

/*  BETTAA SECTION      BETTA SECTION        BETTA SECTION   */
#betta {
  background-color: #eeeeee;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

/*  BETTA HEADED  */
.betta_headed {
  height: 200px;
  width: 90%;
  margin: 0px auto;
  padding-top: 50px;
  text-align: start;
}
.betta_headed h3 {
  font-size: 3rem;
  color: #00004b;
  float: left;
  height: 100%;
  padding-right: 20px;
}
.betta_headed h2 {
  font-size: 3rem;
  color: #000;
}
.betta_headed h4 {
  color: cadetblue;
  line-height: 1.7;
}
                                 /*-------------------------------/
                                /      fourplex  continer        /
                              /--------------------------------*/
.fourplex {
  padding-bottom: 5em;
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.fourplex_content {
  text-align: start;
}
.fourplex_content .fourplex_img {
  height: 200px;
}
.fourplex_img img {
  width: 100%;
  height: 100%;
  display: block;
}
.fourplex_content h3 {
   color: #00004b;
   margin: 20px 0px;
}
.fourplex_content p {
  color: #2c3e50;
}

/*  STRAIGHT TO THE TOP   */
.to__top {
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.24);
  border: none;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  padding-top: 5px;
  z-index: 12;
  position: fixed;
  right: 3em;
  bottom: 3em;
}
.to__top .to-top-a {
  font-size: 2em;
  color: cyan;
}
/*  FOOTER      FOOOTER        FOOTER       FOOTER      FOOOTER      */
#footer {
  background: #212121;
  clear: both;
}
.footer {
  position: relative;
  height: auto;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer__item {
  width: 45%;
  color: white;
  text-align: start;
  padding-bottom: 100px;
}
.footer__item h4 {
  font-size: 2em;
  color: azure;
  margin-bottom: 40px;
  border-bottom: 3px solid cyan;
  display: inline-flex;
  padding-bottom: 5px;
}
.footer__item p {
  font-size: 1.2em;
  line-height: 1.7;
  margin-bottom: 40px;
}
/* FOOTER ITEM LEFT   */
.footer__item .footer_social-link {
   position: relative;
   padding-bottom: 100px;
}
.footer_social-link img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
  filter: hue-rotate(120deg);
}
.footer_social-link img:hover {
  filter: grayscale(1);
  transform: scale(1.03);
}

/*  FOOTER RIGHT  */
.footer__right {
  padding-left: 30px;
}
.footer__right .footer__menu {
  line-height: 1.7;
  margin-bottom: 30px;
}
.footer__menu a {
  font-size: 1.2em;
  text-transform: capitalize;
  line-height: 1.7;
  color: whitesmoke;
}
/*  FOOTER RIGHT DOWN  */
.footer__right h3 {
  font-size: 1.5em;
  color: azure;
  margin-bottom: 30px;
  border-bottom: 1px solid lightgray;
  display: inline-flex;
  padding-bottom: 5px;
}
.footer__right #footer-btn {
  border: 1px solid whitesmoke;
  background-color: transparent;
  box-shadow: inset 3px 3px 5px white, inset -3px -3px 5px white;
}
 
/*  ULTIMO HOMBRE  */
.ultimo__hombre {
  position: relative;
  background: #000;
  padding: 15px;
}
.ultimo__hombre small {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  color: white;
  font-style: italic;
}
.ultimo__hombre small span { color: crimson;}

                              /*---------------------------------------/
                             /           MEDIA QUERIES                /
                            /---------------------------------------*/
@media (max-width: 486px) {
  .footer {
    height: auto;
    flex-direction: column;
  }
  .footer__item {
    width: 100%;
  }
}

/*   AFTER FOOTER  */
@media (max-width: 486px) {
    body {
       height: auto;
       position: relative;
       margin: auto;
       padding: 0;
       display: flex;
       flex-direction: column;
    }
    .container {
      max-width: 100%;
      width: 97%;
      margin: auto;
    }
    #header > .container {
      width: 100%;
    }
    /* HERO  SECTION */
    #hero {
      height: 70vh;
    }
    .hero {
      padding-top: 2em;
    }
     .hero h1 {
      width: 100%;
      margin: auto;
      font-size: 5em;
      margin-bottom: 0.5em;
    }
    .hero q {
      margin: 2em auto;
    }
    /* ALPHA SECTION  */
    .alpha h3 {
      float: none;
    }
    .gamma {
      height: auto;
      flex-direction: column;
      padding: 2em 0em 3em;
    }
    .gamma__img {
      width: 100%;
      order: 2;
    }
    .gamma__right {
      width: 100%;
      order: 1;
    }
    #gamma-btn {
      margin: 1em auto 3em;
    }
    
    /*  DELTA SECTION  */
    .delta {
      height: auto;
      padding: 3em 0em;
      flex-direction: column;
    }
    .delta__left,
    .delta__img {
      width: 100%;
    }

    /*  TRIPLE OFFERS  */
    #omega .omega {
      height: 100%;
      flex-direction: column;
    }
    .omega .offer {
      width: 100%;
    }
  }



/*   WRAPPER SECTION STARTING NOW       */
@media (max-width: 486px) {
  .hgroup__second h2 {
    font-size: 2em;
  }
  .second_duplex {
     display: flex;
     flex-direction: column;
  }
  .second_duplex .duplex {
    width: 100%;
    margin: 0 auto;
  }
  /*  FOURPLEX GRID  */
  .betta {
    height: auto;
    padding: 2em 0;
  }
   .betta_headed {
     width: 100%;
   }
   .fourplex {
    padding: 1em 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
                        "fourplex_content"
                        "fourplex_content"
                        "fourplex_content"
                        "fourplex_content";
   }
   .fourplex_content {
    width: 100%;
   }

  
}
